button {
  display: block;
  padding: 0 20px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: normal;
  border: 2px solid #020288;
  height: 50px;
  margin: 40px auto 0;
  color: #fff;
  background: #020288;
}

button:hover {
  color: #020288;
  background:#e2c4ff;
  cursor: pointer;
}