form {
 margin: auto;
 text-align: center;
}

form label {
  font-size: 30px;
  display: block;
}

form input {
  display: block;
  padding: 0 20px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: normal;
  border: 2px solid #020288;
  height: 50px;
  margin: auto;
}


form input {
  display: block;
  color: #020288;
  border-radius: 30px;
  font-family: Poppins; 
  width: 90%;
  max-width: 70%;
  margin-bottom: 30px;
}