@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: #020288;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin: 0 0 40px 0;
}

h2 {
  margin: 0 0 20px 0;
  font-size: 2.0em;
  color: #7d27d8;
}

h3 {
  margin: 0 0 20px 0;
  font-size: 2.0em;
  color: #ff0000;
}

a {
  color: #020288;
  text-decoration: none;
} 

a:hover {
  color: #e2c4ff;
}

nav {
  display: flex;
  align-items: center;
  background: #ccc;
  padding: 20px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  font-size: 20px;
  margin-right: 20px;
}

@import url('./form.css');
@import url('./buttons.css');
@import url('./errors.css');
